<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test Report: {{title}}</title>
</head>
<body>
    <h1>Title: {{title}}</h1>
    <p>Description: {{description}}</p>
    <div>
        <strong>Tags:</strong>
        {{#tags}}
            <span>{{.}}</span>
        {{/tags}}
        {{^tags}}
            <span>No tags</span>
        {{/tags}}
    </div>
</body>
</html>
